@font-face {
  font-family: Muifenoll;
  src: url(../../src/scss/abstracts/fonts/Muifenoll.ttf);
}
@font-face {
  font-family: ReliefGrotesk;
  src: url(../../src/scss/abstracts/fonts/ReliefGrotesk.ttf);
}
@font-face {
  font-family: Ceviche;
  src: url(../../src/scss/abstracts/fonts/CevicheOne-Regular.ttf);
}
@font-face {
  font-family: Far-Out;
  src: url(../../src/scss/abstracts/fonts/FarOut.woff);
}
@font-face {
  font-family: Lato;
  src: url(../../src/scss/abstracts/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../src/scss/abstracts/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Right-Grotesk;
  src: url(../../src/scss/abstracts/fonts/RightGrotesk-TightMedium.otf);
}
@font-face {
  font-family: Right-Grotesk-Compact;
  src: url(../../src/scss/abstracts/fonts/RightGrotesk-CompactBlack.otf);
}
.fs-secondary-heading {
  font-weight: 500;
}

.fs-secondary-heading-top {
  font-weight: 500;
  font-family: Right-Grotesk-Compact;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5em;
}

.fs-btn {
  width: fit-content;
  font-size: 12px;
  font-family: Right-Grotesk-Compact;
  font-weight: 600;
  margin-top: 1em;
  margin-right: 0.5em;
  padding: 1.2em 1.5em;
  border: 0;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
  transition: ease 200ms;
  cursor: pointer;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  color: #f3eded;
  background-color: #000;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: min(1440px, (100% - 1rem) * 2);
  margin-inline: auto;
}

.paddedSection {
  padding-inline: 8em;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #000;
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #fff;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transiconsform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
header .mobile-nav {
  display: none;
}
header .nav-items {
  max-width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.7);
}
header .nav-flex {
  height: 100px;
  padding: 0 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
header .nav-left a,
header .nav-right a {
  cursor: pointer;
  text-decoration: none;
  padding: 0em 1em;
  font-family: Right-Grotesk-Compact;
  font-size: calc(20px + 20 * (100vw - 320px) / 2240);
  font-weight: 500;
  color: #f3eded;
}
header .logo {
  top: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  padding: 1em 4em;
  z-index: 1002;
  font-size: calc(30px + 20 * (100vw - 320px) / 2240);
  font-family: Right-Grotesk-Compact;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
header .logo-title {
  text-align: center;
  position: relative;
  transform: translateY(1000%);
  font-family: far-out;
  font-size: 28px;
  letter-spacing: 1.5px;
  color: transparent;
  -webkit-text-stroke: 0.8px #f3eded;
}
@media (max-width: 767px) {
  header .main-nav {
    display: none;
  }
  header .mobile-nav {
    display: block;
    height: 100vh;
  }
  header .mobile-nav-items {
    letter-spacing: 1.5px;
    font-family: Right-Grotesk;
    font-size: 30px;
  }
  header .mobile-nav-items a {
    color: white;
    cursor: pointer;
  }
  header .nav-flex {
    padding: 0 0.5em;
  }
  header .intro-screen {
    transform: translateY(40%);
    padding-block: 4em;
    text-align: center;
  }
  header .mobile-logo {
    font-family: Right-Grotesk-Compact;
    font-size: 120px;
    display: flex;
    justify-content: center;
  }
  header .mobile-logo-title {
    font-family: Far-Out;
    letter-spacing: 1.5px;
    color: transparent;
    -webkit-text-stroke: 0.5px #f3eded;
  }
}

.hero-space {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#000, #020202);
  outline: none;
  color: #fff;
}
@media (max-width: 767px) {
  .hero-space {
    display: none;
    height: 20vh;
  }
}

.hero-section {
  height: 100vh;
}

.hero {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  background-image: url(../../assets/images/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-text {
  flex-basis: 75%;
}
.hero .hero-text h2 {
  text-align: center;
  font-family: Far-Out;
  font-size: calc(35px + 15 * (100vw - 320px) / 2240);
  line-height: 1.5;
  color: white;
  -webkit-text-stroke: 0.8px #000;
}
.hero .hero-text h2 span {
  display: block;
  font-size: 40px;
  line-height: 1.5;
}
@media (max-width: 580px) {
  .hero .hero-text {
    flex-basis: 90%;
    line-height: 1.5;
    font-size: 100px;
  }
}

.about-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../../assets/images/about-me.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section .about-mobile {
  display: none;
}
.about-section .about-heading {
  text-align: center;
  font-size: 70px;
  font-family: Right-Grotesk;
  letter-spacing: 3px;
  padding-block: 1em;
}
.about-section .about-text {
  position: relative;
  float: right;
  padding-right: 4em;
  padding-top: 7em;
  width: 50%;
}
.about-section .about-text p {
  font-size: calc(14px + 14 * (100vw - 320px) / 2240);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 2;
  padding-bottom: 1em;
}
.about-section .about-text span {
  display: block;
}
@media (max-width: 700px) {
  .about-section {
    background-image: none;
    position: static;
  }
  .about-section .about-flex {
    display: none;
  }
  .about-section .about-mobile {
    display: block;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url(../../assets/images/about-me.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .about-section .about-text {
    padding: 0;
    width: 70%;
    margin: auto;
    float: none;
  }
  .about-section .about-text p {
    line-height: 2.5;
  }
}

.stack-section .stack-header {
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: Right-Grotesk;
  letter-spacing: 2px;
  padding-block: 1em;
}
.stack-section .stack-list {
  display: flex;
  padding: 0 7em;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.stack-section .stack-list .fws {
  max-width: 50%;
  font-family: Right-Grotesk;
  background-color: transparent;
  outline: 1px solid #383838;
  width: fit-content;
  border-radius: 20px;
  padding: 1em 1.5em;
  transition: ease 100ms;
  margin: 10px;
}
.stack-section .stack-list .fws p {
  font-size: 30px;
}
.stack-section .stack-list .fws:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 700px) {
  .stack-section .stack-list {
    padding: 0 2em;
  }
  .stack-section .stack-list .fws p {
    font-size: 20px;
  }
}
@media (max-width: 545px) {
  .stack-section .stack-list .fws p {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .stack-section .stack-header {
    font-size: 30px;
  }
}

.works-section {
  padding-block: 3em;
  padding-inline: 4%;
  background: linear-gradient(#000, #141414);
}
.works-section .works-header {
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: Right-Grotesk;
  letter-spacing: 2px;
  padding-block: 1em;
}
.works-section .works-header .spans {
  display: block;
  margin-top: -40px;
  transition-delay: 300ms;
}
.works-section .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works-section .projs {
  cursor: pointer;
  max-width: 50%;
  width: 100%;
  display: inline-block;
  padding: 2em 0;
}
.works-section .projs img {
  max-width: 100%;
  width: auto\9;
  padding: 1em;
  height: auto;
  transition: ease 100ms;
  border-radius: 30px;
}
.works-section .projs img:hover {
  scale: 1.1;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}
.works-section .projs .proj-title {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: Right-Grotesk;
  font-weight: 500;
  font-size: 24px;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works-section .projs .proj-title .visit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-section .projs .proj-title .visit img {
  padding: 0;
  width: auto;
  height: fit-content;
}
.works-section .proj-1 {
  transition-delay: 200ms;
}
.works-section .proj-2 {
  transition-delay: 400ms;
}
.works-section .proj-3 {
  transition-delay: 500ms;
}
.works-section .proj-4 {
  transition-delay: 700ms;
}
@media (max-width: 950px) {
  .works-section .proj-title p {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .works-section .projs {
    max-width: 100%;
  }
  .works-section .proj-title p {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .works-section .works-header {
    font-size: 30px;
  }
  .works-section .works-header .spans {
    display: block;
    margin-top: -10px;
    transition-delay: 300ms;
  }
}

.contact-section {
  width: 100%;
  padding: 3em;
  text-align: center;
  background: linear-gradient(#141414, #000);
}
.contact-section .contact-heading,
.contact-section .email {
  width: 100%;
  font-size: 70px;
  font-family: Right-Grotesk;
  letter-spacing: 2px;
}
.contact-section .contact-heading .spans,
.contact-section .email .spans {
  display: block;
  margin-top: -40px;
  transition-delay: 300ms;
}
.contact-section .CTA {
  padding-top: 3em;
  font-family: Montserrat;
  font-weight: 500;
}
.contact-section .email a {
  color: #f3eded;
  transition: ease-in 200ms;
}
.contact-section .email a:hover {
  text-decoration: underline;
}
.contact-section .icons {
  width: 35%;
  margin: auto;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.contact-section .icons .s-icon {
  cursor: pointer;
  text-align: center;
  width: fit-content;
  max-width: 50%;
  width: 100%;
  display: inline-block;
  font-size: 40px;
  font-family: Right-Grotesk;
}
.contact-section .icons .s-icon a {
  color: #f3eded;
}
.contact-section .icons .s-icon:hover {
  text-decoration: underline;
}
@media (max-width: 725px) {
  .contact-section .email a {
    font-size: 30px;
  }
  .contact-section .CTA {
    font-size: 14px;
  }
  .contact-section .icons {
    width: 70%;
  }
  .contact-section .icons .s-icon {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .contact-section .contact-heading,
  .contact-section .email {
    font-size: 30px;
  }
  .contact-section .contact-heading .spans,
  .contact-section .email .spans {
    margin-top: -20px;
  }
}

.divider {
  border: 1px solid #494848;
  background-color: #fff;
}

footer .footer-logo {
  margin-top: -20px;
  text-align: center;
  font-size: 200px;
  font-family: Right-Grotesk-Compact;
  display: flex;
  justify-content: center;
}
footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 4em;
  font-size: 20px;
  font-weight: 500;
  font-family: Montserrat;
}
footer .footer-links a {
  color: #f3eded;
}
@media (max-width: 600px) {
  footer .footer-logo {
    text-align: center;
    font-size: 120px;
  }
  footer .footer-links {
    padding: 1em;
    font-size: 12px;
  }
}

/* Animation for Page */
.slideUp {
  visibility: hidden;
  transform: translateY(50%);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.showslideUp {
  visibility: visible;
  transform: translateY(0);
}

.fadeIn {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.showfadeIn {
  opacity: 1;
}

.fadeInLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 1s;
}

.showfadeInLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.fadeInUp {
  opacity: 0;
  /* filter: blur(5px); */
  transform: translateY(-15%);
  transition: all 1s;
}

.showfadeInUp {
  opacity: 1;
  /* filter: blur(0); */
  transform: translateY(0);
}

.fadeIndown {
  opacity: 0;
  /* filter: blur(5px); */
  transform: translateY(15%);
  transition: all 2s;
}

.showfadeIndown {
  opacity: 1;
  /* filter: blur(0); */
  transform: translateY(0);
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (prefers-reduced-motion) {
  .fadeInLeft {
    transition: none;
  }
  .fadeIndown {
    transition: none;
  }
  .anim {
    transition: none;
  }
}

/*# sourceMappingURL=main.css.map */
